@tailwind base;
@tailwind components;
@tailwind utilities;

.loginimg {
    background-image: url('../src/Assets/2.PNG');
    background-position: center;
    background-repeat: no-repeat;
    
}
.home {
    background-image: url('../src/Assets/home1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}